body {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    width: auto;
    margin-left: 70px;
}

#logo {
    margin-left: 0;
}

#login {
    order: 1;
    margin-right: 20px;
    margin-top: 0;
    border-top: 2px solid white;
}

.link {
    border-bottom: none;
    margin-bottom: 25px;
    color: black;
    border-top: 2px solid white;
}


.active {
    border-top: 2px solid var(--color-link);
    color: var(--color-link);
}

.recherche {
    max-width: 450px;
}

.recherche button {
    border-radius: 0 5px 5px 0;    
}

.recherche button i {
    display: none;
}

.recherche span {
    font-size: 1rem;
    font-weight: bold;
    display: inline;
}

.filtre_inner {
    flex-wrap: nowrap;
    justify-self: start;
}

.filtre_inner p {
    width: auto;
    margin-right: 20px;
    margin-top: 20px;
    font-weight: bolder;
}


h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}


.sejour {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 20px;
    padding: 0 20px;
}

.populaires {
    flex-grow: 1;
    border-radius: 20px;
}

.populaires span {
    margin-top:auto;
    margin-bottom: 10px;
}

.populaires article {
    transition: transform 500ms, 800ms;
}

.populaires article:hover {
    transform: scale(1.05);
}

.contenu_populaires {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.items_populaires {
    display: flex;
    flex-direction: column;
}


.hebergements {
    background-color: var(--color-bg);
    width: 65%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    border-radius: 20px;
}

.contenu_hebergements {
    margin: 5px 0;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hebergements article + * :not(img){
    margin-left: 10px;
}

.hebergements h2 {
    grid-column: 1/-1;
}

.hebergements h3 {
    padding: 0;
}

.hebergements p {
    font-size: 12px;
    padding: 0;
}

.hebergements span {
    font-size: 10px;
    padding: 0;
    margin-left: 10px;
}

.hebergements article {
    width: 100%;
    background-color: white;
    margin-bottom: 0;
    /*aspect-ratio: 5/4;*/
}

.hebergements img {
    aspect-ratio: 6/3;
}

.hebergements article {
    transition: transform 500ms, 800ms;
}

.hebergements article:hover {
    transform: scale(1.05);
}

#afficher {
    padding-left: 10px;
}


.activites {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content repeat(5, 1fr);
    grid-gap: 2rem;
    width: 100%;
    aspect-ratio: 5/2;
    max-height: 75vh;
}

.activites article {
    display: grid;
    grid-template-rows: 1fr 50px;
    height: 100%;
    margin: 0;
}

.activites h2 {
    grid-column: 1/-1;    
}

.activites img {
    height: 100%;
    min-height: 0;
}

.activites span {
    margin: auto 0;
    font-size: 1rem;
}

.img-big {
    grid-row: 2/-1;
}


.img-medium {
    grid-row: span 3;
}

.img-small {
    grid-row: span 2;
}

/*
#vieuxport {
    grid-column: 1;
    grid-row: 2/-1;
}

#parcnational {
    grid-column: 3;
    grid-row: 2/-1;
}
*/

footer {
    display: flex;
    flex-direction: row;
}

footer > div {
    flex-grow: 1;
}
